<div class="vw-100 vh-100 primary-color d-flex align-items-center justify-content-center">
  <div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container secondary-color">
      <h1 class="display-4">Food Recipes</h1>
      <p class="lead">
        A curated list of recipes for the best homemade meal and delicacies.
      </p>
      <hr class="my-4" />
      <%= link_to 'View Recipes', '', class: 'btn btn-lg custom-button' %>
    </div>
  </div>
</div>

